@import '../../_base.scss';

#heroRoutes {
    background-color: white;
    
    .allroads {
        @extend .text-red;
        font-family: donJose;
        font-size: var(--large);
        text-align: center;
        padding: 3rem;
    }

    @media screen and (min-width: $mediaSmall) {
        .allroads {
            padding: 5rem 3rem;
        }
    }

    .carousel {
        position: relative;
        width: 100vw;
        a {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        .dot {
            position: absolute;
            $size: 2rem;
            opacity: 1;
            width: $size;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            top: calc(50% - ($size / 2));
            background-color: rgba($red, 0.75);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            cursor: pointer;
            &.right {
                right: $size;
            }
            &.left {
                left: $size;
            }
            
        }

        &:hover {
            .dot {
                opacity: 1;
            }
        }

        @media screen and (min-width: $mediaSmall) {
            .dot {
                opacity: 0;
                width: 3rem;
                svg {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        p {
            @extend .background-red, .text-white;
            font-size: var(--medium);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
    }

    @media screen and (min-width: $mediaSmall) {
        .action {
            padding: 5rem 3rem;
            p {
                padding: 1.5rem;
            }
        }
    }
}
