@import "../_base.scss";

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.main {
    svg {
        margin-top: -5vh;
        height: 95vh;
    }

    @media screen and (min-width: $mediaSmall) {
        display: flex;
        justify-content: center;
        svg {
            height: 100vh;
        }
    }
}