@import "../../_base.scss";

nav {
    .text_part {       
        @media screen and (min-width: $mediaSmall) {
            margin-top: 5rem;
        }
           
        @media screen and (min-width: $mediaMedium) {
            margin-top: 3rem;
        }
           
        @media screen and (min-width: $mediaLarge) {
            margin-top: 1rem;
        }
    }
}

    .page-content {
    background-color: $red;

    padding: 2rem 0;

    .section-container {
        .articles {
            margin-top: 3rem;
            @media screen and (min-width: $mediaSmall) {
                justify-content: center;
            }
        }
    
        .actions {
            margin: 2rem;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
