@import "../../_base.scss";

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

nav {
    .main {
        .image {
            svg {
                right: 10%;
            }
        }
    }
}

.page-content {
    background-color: $green;

    padding: 2rem 0;

    .section-container {
        .text-part {
            .hookup {
                position: relative;
                margin-left: 2rem;
                & > div {
                    position: inherit;
                    display: block;
                    width: fit-content;
                }
            }
        }
        
        .articles {
            margin-top: 3rem;
            @media screen and (min-width: $mediaSmall) {
                margin-left: 2rem;
            }
        }
    
        .actions {
            margin: 2rem;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
