@import '../../_base.scss';

nav {
    $logo-diameter: 30vw;
    $buttons-diameter: 30px;

    position: relative;
    width: 100vw;
    background-image: url('/img/navbar/back_crowd.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    * {
        position: relative;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 10vh;
        background-color: #fff;
        top: 0;
        left: 0;
        @media screen and (min-width: $mediaSmall) {
            width: 10vw;
            height: 100vh;
            left: 90vw;
            top: 0;
        }
    }

    .halo {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        opacity: 0.85;
        
        @media screen and (min-width: $mediaSmall) {
            top: 0;   
            width: 90vw;
        }
    }

    .top-white-banner {
        position: absolute;
        top: -90vh;
        right: 0;
        width: 120vw;
        height: 100vh;
        background-color: #fff;
        transform-origin: bottom right;
        transform: rotate(-15deg);
        .banner-container {
            position: relative;
            width: 100%;
            height: 100%;
            .logos {
                position: absolute;
                bottom: calc(-1 * $logo-diameter * .3);
                right: calc(100vw - ($logo-diameter * 1.75));
                display: flex;
                gap: 0;
                align-items: flex-start;

                & > div {
                    padding: 10px;
                    margin: 0;
                    width: $logo-diameter;
                    height: $logo-diameter;
                    border-radius: 50%;
                    background-color: #fff;
                    z-index: 1000;

                    &:last-child {
                        $logo-small: calc($logo-diameter * .8);
                        width: $logo-small;
                        height: $logo-small;
                        margin-top: 0;
                        margin-left: calc(-1 * $logo-diameter * .2);
                    }
                    img {
                        transform: rotate(15deg);
                    }
                }
            }
        }

        @media screen and (min-width: $mediaSmall) {
            $logo-diameter: 20vw;
            top: -100vh;
            right: 50vw;
            width: 60vw;
            .banner-container {
                .logos {
                    bottom: calc(-1 * $logo-diameter * .95);
                    right: calc(55vw - ($logo-diameter * 1.75));
                    & > div {
                        width: $logo-diameter;
                        height: $logo-diameter;
                        &:last-child {
                            $logo-small: calc($logo-diameter * .8);
                            width: $logo-small;
                            height: $logo-small;
                        }
                    }
                }
            }
        }
    }

    .bottom-right-banner {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 1000vw;
        height: 20vh;
        bottom: 30vh;
        right: 0;
        transform-origin: top right;
        transform: rotate(-70deg);

        @media screen and (min-width: $mediaSmall) {
            top: 0;
            bottom: 0;
            right: 10vw;
            height: 100vh;
            transform: rotate(-75deg);
        }
    }

    .bottom-left-banner {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 15vw;
        height: 37vh;
        top: 63vh;
        left: 0;
        transform-origin: top left;
        transform: rotate(25deg);

        &::after {
            position: absolute;
            content: "";
            background-color: #fff;
            top: 0;
            right: -100vw;
            width: 100vw;
            height: 50vh;
            transform-origin: top left;
            transform: rotate(45deg);
        }

        @media screen and (min-width: $mediaSmall) {
            top: 50vh;
            width: 25vw;
            height: 1000vh;
            &::after {
                height: 1000vh;
                transform: rotate(50deg);
            }
        }
    }

    .action-buttons {
        position: relative;
        opacity: 1;
        padding-top: calc(10vh - $buttons-diameter / 4);
        padding-right: calc($buttons-diameter);
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        z-index: 100;

        & > div {
            @extend .text-white;
            position: relative;
            width: $buttons-diameter;
            height: $buttons-diameter;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
            &.orange {
                @extend .background-orange;
            }
            &.green {
                @extend .background-green;
            }
        }

        @media screen and (min-width: $mediaSmall) {
            $buttons-diameter: 60px;
            padding-top: 7.5vw;
            padding-right: 7.5vw;
            gap: 10px;

            & > div {
                width: $buttons-diameter;
                height: $buttons-diameter;
                svg {
                    width: calc($buttons-diameter * .5);
                    height: calc($buttons-diameter * .5);
                }
            }
        }
    }

    .main-title {
        font-family: 'donJose', sans-serif;
        margin-top: calc($logo-diameter * 1.5);
        text-align: center;
        font-weight: 900;
        line-height: 0.9;
        font-size: var(--xl);
        color: #fff;
        p {
            &:first-child {
                margin-left: -15vw;
            } 
            &:nth-child(2) {
                margin-right: -15vw;
            }
        }

        @media screen and (min-width: $mediaSmall) {
            margin-top: -1rem;
            font-size: 2.5rem;
            padding-left: calc($logo-diameter / 3);
        }

        @media screen and (min-width: $mediaMedium) {
            margin-top: -2rem;
            font-size: 3.5rem;
            padding-left: calc($logo-diameter / 2);
        }

        @media screen and (min-width: $mediaLarge) {
            margin-top: 0;
            font-size: 5rem;
            padding-left: calc($logo-diameter / 2);
        }
    }

    .main-menu {
        margin-top: $logo-diameter;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: all 500ms ease-in-out;
        div {
            display: inline-block;
            padding: 10px 1.5rem 10px 10px;
            border-radius: 5px;
            margin-top: -5px;
            font-size: var(--medium);
            &:first-child {
                margin-top: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }

        @media screen and (min-width: $mediaSmall) {
            margin-top: calc($logo-diameter / 1.25);
            margin-right: 5vw;
        }

        @media screen and (min-width: $mediaMedium) {
            margin-top: calc($logo-diameter / 1.5);
        }

        @media screen and (min-width: $mediaLarge) {
            margin-top: calc($logo-diameter / 2);
        }
    }

    .socials {
        margin-top: $logo-diameter;
        padding-right: calc($buttons-diameter / 2);
        height: $buttons-diameter;
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        .social {
            width: $buttons-diameter;
            height: $buttons-diameter;
            border-radius: 50%;
            background-color: $red;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    $ratio: 0.6;
                    width: calc($buttons-diameter * $ratio);
                    height: calc($buttons-diameter * $ratio);
                }
            }
        }

        @media screen and (min-width: $mediaSmall) {
            margin-top: calc($logo-diameter / 2);
            margin-right: 5vw;
        }
    }

    .nav-footer {
        margin-top: calc($logo-diameter / 2);
        width: 100vw;
        height: 10vh;
        background-color: #fff;
    }
}
