@import '../../_base.scss';

#heroRed {
    @extend .background-red, .text-white;

    border-bottom: 5rem solid white;

    .askingquestions {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: $mediaSmall) {
        .askingquestions {
            padding: 0;
            padding-top: 3rem;
        }
    }
}