@import '../../_base.scss';

#heroRed {
    @extend .background-red, .text-white;

    border-bottom: 5rem solid white;
    padding: 0;

    .animated-questions {
        position: relative;
        width: 100vw;
        height: 90vw;
        .white-back {
            @extend .background-white;
            position: absolute;
            top: 0;
            left: -35%;
            width: 150%;
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            transform: rotate(-30deg);
        }
        .brain, .heart {
            position: absolute;
            top: 15%;
            left: 10%;
            display: flex;
            justify-content: center;
            img {
                width: 80%;
            }
        }

        .heart {
            opacity: 0;
            top: 5%;
            left: 5%;
            img {
                width: 90%;
            }
        }
    }

    .askingquestions {
        position: relative;
        margin-top: var(--section-padding);
        padding: var(--section-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .actions {
        align-items: flex-start;
        padding-left: var(--section-padding);
        .jemelance {
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            text-align: left;
        }
    }

    @media screen and (min-width: $mediaSmall) {
        .askingquestions {
            padding: 0;
            padding-top: 3rem;
        }
    }

    @media screen and (min-width: $mediaMedium) {
        .section-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            .animated-questions {
                width: 40vw;
                height: 50vw;
                .heart {
                    top: 15%
                }
                .brain {
                    top: 25%
                }
            }
            .static-text {
                width: 40vw;
                .askingquestions {
                    margin-left: 5rem;
                }
                .actions {
                    margin-top: 4rem;
                    padding-left: 5rem;
                    align-items: flex-start;
                }
            }
        }
    }
}
