@import '../../_base.scss';

#heroRed {
    @extend .background-red, .text-white;

    border-bottom: 5rem solid white;
    padding: 0;

    .animated-questions {
        position: relative;
        width: 100vw;
        .brain, .heart {
            position: absolute;
            top: 25%;
            left: 5%;
            display: flex;
            justify-content: center;
            img {
                width: 80%;
            }
        }

        .heart {
            opacity: 0;
            top: 15%;
            left: 0;
            z-index: 10;
            img {
                width: 90%;
            }
        }
    }

    .askingquestions {
        position: relative;
        margin-top: var(--section-padding);
        padding: var(--section-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .actions {
        align-items: flex-start;
        padding-left: var(--section-padding);
        .jemelance {
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            text-align: left;
        }
    }

    @media screen and (min-width: $mediaMedium) {
        .section-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            .animated-questions {
                width: 50vw;
                padding-right: 2rem;
                padding-bottom: 5vh;
                .questions {
                    width: 55%;
                    left: 22.5%
                }
            }
            .static-text {
                width: 45vw;
                .askingquestions {
                    margin-top: 0;
                }
                .actions {
                    padding-top: 0;
                    padding-right: 0;
                    align-items: flex-start;
                }
            }
        }
    }
}
