@import '../../_base.scss';
@import '../../shared/header/header_shared.scss';

nav {
    position: relative;
    overflow: hidden;
    background-color: var(--back-color);
}

.logos {
    position: absolute;
    top: 7vh;
    left: 2vh;

    .logo-jmj {
       margin-top: 10%; 
    }
    .logo-C4Y {
        margin-left: -10%;
    }

}

.action-buttons {
    position: absolute;
    top: 7vh;
    right: 2vh;

    a {
        display: block;
        width:100%;
        height: 100%;
        color: #fff;
    }
}

.main {
    .image {
        margin-top: 7vh;
        overflow: hidden;
        height: 80vh;
    }
}
