@import "../../_base.scss";

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.page-content {
    background-color: $green;

    padding: 2rem 0;

    .section-container {
        .text-part {
            .hookup {
                position: relative;
                margin-left: 2rem;
                & > div {
                    position: inherit;
                    display: block;
                    width: fit-content;
                }
            }
        }
        
        .articles {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            article {
                position: relative;
                width: 300px;
                aspect-ratio: 1 / 1;
                border: 1px solid #fff;
                border-radius: 5px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                img {
                    border-radius: 5px;
                }
                .article_title {
                    @extend .background-white, .text-red;
                    position: absolute;
                    display: inline-flex;
                    bottom: 1rem;
                    right: calc(25% / 4);
                    font-size: var(--tiny);
                    padding: 5px;
                    border-radius: 5px;
                    text-align: right;
                    max-width: 75%;
                    text-transform: uppercase;
                }
            }
        }
    
        .actions {
            margin: 2rem;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
