$buttons-diameter: 30px;

.logos {
    --logo-diameter: 30vw;
    display: flex;
    gap: 0;
    align-items: flex-start;
    z-index: 50;
    
    & > div {
        padding: 10px;
        width: var(--logo-diameter);
        height: var(--logo-diameter);
        border-radius: 50%;
        background-color: #fff;

        &:last-child {
            --logo-small: calc(var(--logo-diameter) * .8);
            width: var(--logo-small);
            height: var(--logo-small);
        }
    }
}

@media screen and (min-width: $mediaSmall) {
    .logos {
        --logo-diameter: 20vw;
    }
}

@media screen and (min-width: $mediaMedium) {
    .logos {
        --logo-diameter: 20vh;
    }
}

@media screen and (min-width: $mediaLarge) {
    .logos {
        --logo-diameter: 25vh;
    }
}

@media screen and (min-width: $mediaXLarge) {
    .logos {
        --logo-diameter: 25vh;
    }
}

.action-buttons {
    opacity: 1;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    z-index: 100;

    & > div {
        @extend .text-white;
        position: relative;
        width: calc($buttons-diameter * 1.5);
        height: calc($buttons-diameter * 1.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        &.orange {
            @extend .background-orange;
        }
        &.green {
            @extend .background-green;
        }
    }

    @media screen and (min-width: $mediaSmall) {
        $buttons-diameter: 60px;
        gap: 10px;

        & > div {
            width: $buttons-diameter;
            height: $buttons-diameter;
            svg {
                width: calc($buttons-diameter * .5);
                height: calc($buttons-diameter * .5);
            }
        }
    }
}


