@import '../../_base.scss';
@import '../../shared/header/header_shared.scss';

nav {

    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    * {
        position: relative;
    }

    .section-container {
        box-sizing: content-box;
        height: 100vh;
    }

    &::before {
        position: absolute;
        z-index: 10;
        content: "";
        width: 100vw;
        height: 10vh;
        background-color: var(--back-color);
        top: 0;
        left: 0;
        @media screen and (min-width: $mediaSmall) {
            width: 10vw;
            height: 100vh;
            left: 90vw;
            top: 0;
        }
    }

    .top-white-banner {
        position: absolute;
        z-index: 50;
        top: -90vh;
        right: 0;
        width: 120vw;
        height: 100vh;
        background-color: var(--back-color);
        transform-origin: bottom right;
        transform: rotate(-15deg);
        .banner-container {
            position: relative;
            width: 100%;
            height: 100%;
            .logos {
                position: absolute;
                bottom: calc(-1 * $logo-diameter * .3);
                right: calc(100vw - ($logo-diameter * 1.75));

                & > div {
                    margin: 0;
                    z-index: 1000;

                    &:last-child {
                        margin-top: 0;
                        margin-left: calc(-1 * $logo-diameter * .2);
                    }
                    img {
                        transform: rotate(15deg);
                    }
                }
            }
        }

        @media screen and (min-width: $mediaSmall) {
            $logo-diameter: 20vw;
            top: -100vh;
            right: 50vw;
            width: 60vw;
            .banner-container {
                .logos {
                    bottom: calc(-1 * $logo-diameter * .95);
                    right: calc(55vw - ($logo-diameter * 1.75));
                    & > div {
                        width: $logo-diameter;
                        height: $logo-diameter;
                        &:last-child {
                            $logo-small: calc($logo-diameter * .8);
                            width: $logo-small;
                            height: $logo-small;
                        }
                    }
                }
            }
        }
    }

    .bottom-right-banner {
        position: absolute;
        content: "";
        background-color: var(--back-color);
        width: 1000vw;
        height: 20vh;
        bottom: 30vh;
        right: 0;
        transform-origin: top right;
        transform: rotate(-70deg);

        @media screen and (min-width: $mediaSmall) {
            top: 0;
            bottom: 0;
            right: 10vw;
            height: 100vh;
            transform: rotate(-75deg);
        }
    }

    .bottom-left-banner {
        position: absolute;
        content: "";
        background-color: var(--back-color);
        width: 15vw;
        height: 37vh;
        top: 63vh;
        left: 0;
        transform-origin: top left;
        transform: rotate(25deg);

        &::after {
            position: absolute;
            content: "";
            background-color: var(--back-color);
            top: 0;
            right: -100vw;
            width: 100vw;
            height: 50vh;
            transform-origin: top left;
            transform: rotate(45deg);
        }

        @media screen and (min-width: $mediaSmall) {
            top: 50vh;
            width: 25vw;
            height: 1000vh;
            &::after {
                height: 1000vh;
                transform: rotate(50deg);
            }
        }
    }

    .action-buttons {
        position: relative;
        padding-top: calc(10vh - $buttons-diameter / 4);
        padding-right: var(--section-padding);
        z-index: 100;

        @media screen and (min-width: $mediaSmall) {
            padding-top: 7.5vw;
        }

        a {
            width: 100%;
        }
    }

    .socials {
        position: absolute;
        z-index: 50;
        bottom: 3vh;
        right: var(--section-padding);
        .social {
            background-color: var(--social-back);
            color: var(--social-color);
        }

        @media screen and (min-width: $mediaSmall) {
            bottom: 5vh;
        }
    }

    .blank {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        background: #fff;
    }
}
