@import "../../_base.scss";

nav {
    @media screen and (min-width: $mediaMedium) {
        .text_part {
            .hookup {
                margin-top: 7rem;
            }
        }
    }
}


.page-content {
    background-color: $orange;

    .section-container {
        color: white;
        padding: 2rem;
        .text-part {
            .hookup {
                position: relative;
                & > div {
                    position: inherit;
                    display: block;
                    width: fit-content;
                }
            }
        }
        
        .inscription {
            margin: 2rem 0;
            padding: 1rem 10px;
            text-align: center;
            border-radius: 10px;
            font-family: donJose, sans-serif;
            text-transform: uppercase;
            font-size: var(--large);
        }
    
        .text {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align: justify;
            padding: 0 5px;
            font-size: 1.4rem;
            .sub-title {
                @extend .text-red;
                font-family: donJose, sans-serif;
                text-transform: uppercase;
                font-size: var(--medium);
                padding: 0.5rem 0;
                line-height: 1;
                text-align: center;
            }
        }
    }
}
