@import '../../base';

$margin: 3rem;

#herogreen {
    position: relative;
    color: white;
    background-color: rgb(30, 94, 30);
    width: 100vw;
    overflow: hidden;

    .youtoo {
        position: relative;
        padding: $margin;
        padding-bottom: 0; 
    }

    .knowmore {
        padding-left: calc($margin / 2);
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            border: 1px solid white;
            border-radius: 50%;
            padding: 5px;
            width: 1.5rem;
            height: 1.5rem;
        }

        p {
            font-size: var(--normal);
        }
    }

    .nerestepasici {
        position: relative;
        width: 100vw;
        margin-top: $margin;
        padding-top: $margin;
        
        * {
            position: relative;
        }
        .back {
            position: absolute;
            top: 0;
            left: 5vw;
            width: 90vw;
            height: 180vw;
            background-color: white;
            border-radius: 50%;
            transform: rotate(7deg);
        }

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 65px;
            background-color: white;
        }

        .canape {
            position: relative;
            margin-top: -100%;
        }

        .perso {
            margin-top: -95%;
            transition: all 500ms ease;
        }
    }
}