@import '../../base';

$margin: 3rem;

#herogreen {
    position: relative;
    color: white;
    background-color: rgb(30, 94, 30);
    width: 100%;
    overflow: hidden;
    padding: 0;

    .section-container{
        padding-top: var(--section-padding);
        padding-left: var(--section-padding);
        @media screen and (min-width: $mediaMedium) {
            padding-top: 0;
            padding-left: calc(var(--section-padding) / 3);
        }
    }

    .text-part {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .youtoo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
        }

        .knowmore {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            svg {
                border: 1px solid white;
                border-radius: 50%;
                padding: 5px;
                width: 1.5rem;
                height: 1.5rem;
            }

            p {
                font-size: var(--normal);
            }
        }

        .actions {
            padding-left: 0;
            align-items: flex-start;
        }
    }

    .nerestepasici {
        position: relative;
        width: 100%;
        margin-top: $margin;
        padding-top: $margin;

        .white-back {
            position: absolute;
            top: 0;
            left: 5%;
            width: 90%;
            height: 180%;
            background-color: white;
            border-radius: 50%;
            transform: rotate(15deg) translateX(-5vw);
        }

        --height: 100vw;

        .fond {
            position: relative;
            height: var(--height);
            aspect-ratio: 1;
        }
        .pasici {
            position: absolute;
            top: $margin;
            left: 0;
            height: var(--height);
            aspect-ratio: 1;
        }
        .canape {
            position: absolute;
            top: $margin;
            left: 0;
            height: var(--height);
            aspect-ratio: 1;
        }
        .perso {
            position: absolute;
            top: $margin;
            left: 0;
            transition: all 500ms ease-in-out;
            height: var(--height);
            aspect-ratio: 1;
            margin-left: $margin;
        }
    }

    .actions {
        .action {
            text-align: left;
            display: flex;
            align-items: flex-start;
        }
        svg {
            margin: 0.3rem 0 0 1rem;
        }
    }


    @media screen and (min-width: $mediaMedium) {
        .section-container {
            display: grid;
            grid-template-columns: repeat(2, 47.5%);
            column-gap: 5%;

            .text-part {
                order: 1;
                justify-content: center;
                gap: 1rem;
                .youtoo {
                    align-items: flex-start;
                }
                .knowmore {
                    justify-content: flex-start;
                    padding: 0;
                }
                .actions {
                    align-items: flex-start;
                    padding-left: 0;
                }
            }

            .nerestepasici {
                order: -1;
                --height: 50vw;
            }
        }
    }

    @media screen and (min-width: $mediaLarge) {
        .section-container {
            .text-part {
                padding: 3rem 0;
            }
            .nerestepasici {
                --height: 40vw;
            }
        }
    }
}