@import '../../base';

$margin: 3rem;

#herogreen {
    position: relative;
    color: white;
    background-color: rgb(30, 94, 30);
    width: 100vw;
    overflow: hidden;

    .text-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .youtoo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: $margin;
            padding-bottom: 0;
        }

        .knowmore {
            padding: 0 calc($margin / 2);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            svg {
                border: 1px solid white;
                border-radius: 50%;
                padding: 5px;
                width: 1.5rem;
                height: 1.5rem;
            }

            p {
                font-size: var(--normal);
            }
        }
    }

    .nerestepasici {
        position: relative;
        width: 100%;
        margin-top: $margin;
        padding-top: $margin;
        
        * {
            position: relative;
        }
        .white-back {
            position: absolute;
            top: 0;
            left: 5%;
            width: 90%;
            height: 180%;
            background-color: white;
            border-radius: 50%;
            transform: rotate(7deg);
        }

        .canape {
            position: relative;
            margin-top: -100%;
        }

        .perso {
            transition: all 500ms ease-in-out;
            img {
                margin-top: -250px;
                height: 250px;
            }
        }
    }


    @media screen and (min-width: $mediaSmall) {
        .section-container {
            display: flex;
            flex-direction: row-reverse;

            & > div {
                width: 50%;
            }

            .text-part {
                gap: 3rem;
                .youtoo {
                    align-items: flex-start;
                }
                .knowmore {
                    justify-content: flex-start;
                    padding: 0 $margin;
                }
                .actions {
                    align-items: flex-start;
                    padding-left: $margin;
                }
            }

            .perso {
                img {
                    margin-top: -500px;
                    height: 500px;
                }
            }
        }
    }
}