@import './tailwind.scss';

// Media queries
$mediaSmall: 640px;
$mediaMedium : 960px;
$mediaLarge: 1280px;
$mediaXLarge: 1680px;

// Colors
$green: #00893e;
$orange: #fbc200;
$red: #d43425;



@font-face {
  font-family: 'donJose';
  src: url('/fonts/DonJose_Black.otf') format('opentype');
  font-style: normal;
}

@font-face {
    font-family: 'lilitaOne';
    src: url('/fonts/LilitaOne-Regular.ttf');
}

:root {
  font-family: 'lilitaOne', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;


  // section padding
  --section-padding: 7vw;

  // Font sizes
  --xl : 2.5rem;
  --large : 2rem;
  --medium : 1.5rem;
  --normal : 1.2rem;
  --small : 1rem;
  --tiny : 0.75rem;

  @media screen and (min-width: $mediaSmall) {
    // Font sizes
    --xl : 5rem;
    --large : 3rem;
    --medium : 2.5rem;
    --normal : 1.8rem;
    --small : 1.3rem;
    --tiny : 1rem;    
  }
}

.text-green {color: $green}
.text-red {color: $red}
.text-orange {color: $orange}
.text-white {color: white}

.background-green {background-color: $green}
.background-red {background-color: $red}
.background-orange {background-color: $orange}
.background-white {background-color: white}

section {
  overflow-x: hidden;
}

.section-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.actions {
  font-size: var(--normal);
  padding: 3rem calc((100vw - 75vw) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .action {
      @extend .text-red, .background-white;
      display: inline-flex;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      &:nth-child(2n) {
          @extend .text-white;
          background: none;
      }
  }
}

@media screen and (min-width: $mediaSmall) {
  .actions {
      .action {
          padding: 1.5rem 10px;
      }
  }
}

.hookup {
  font-family: donJose;
  font-size: var(--medium);
  line-height: 1.25; 
}

.emphasized {
  border-radius: 5px;
  padding: 0 5px;   
  &.red {
      @extend .background-red, .text-white;
  }        
  &.orange {
      @extend .background-orange, .text-white;
  }
  &.green {
      @extend .background-green, .text-white;
  }
}
