.faq {
    margin-bottom: 0.5rem;
    .question {
        font-family: donJose;
        font-size: var(--medium);
        margin-bottom: 1rem;
        cursor: pointer;
        line-height: var(--medium);
    }
    .answer {
        display: none;
        padding: 1rem;
        font-size: 1.2rem;
        color:rgb(255, 255, 255);
        line-height: 1.5rem;
        a {
            text-decoration: underline;
        }
    }

    &.opened {
        margin-bottom: 1rem;
        .answer {
            display: block;
        }
    }
}