@import "../../_base.scss";

nav {
    .text_part {
        .hookup {
            font-size: 2rem;
            & > div {
                padding-left: 0.3rem;
            }
            .big {
                font-size: 8rem;
                margin-bottom: -2rem;
                padding-left: 0;
            }
        }
    }

    .main {
        .image {
            svg {
                position: absolute;
                bottom: 15%;
                right: 10%;
                width: 65%;
            }
        }
    }
}

.page-content {
    background-color: $red;

    padding: 2rem 0;

    .section-container {
        .text-part {
            .hookup {
                position: relative;
                margin-left: 2rem;
                & > div {
                    position: inherit;
                    display: block;
                    width: fit-content;
                }
            }
        }
        
        .articles {
            margin-top: 3rem;
            @media screen and (min-width: $mediaSmall) {
                margin-left: 2rem;
            }
        }
    
        .actions {
            margin: 2rem;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
