@import "../../_base.scss";

nav {
    .text_part {
        .hookup {
            font-size: 2rem;
            & > div {
                padding-left: 0.3rem;
            }
            .big {
                font-size: 8rem;
                margin-bottom: -2rem;
                padding-left: 0;
            }
        }
    }

    .main {
        .image {
            svg {
                position: absolute;
                bottom: 15%;
                right: 10%;
                width: 65%;
            }
        }
    }
}

.page-content {
    background-color: $red;

    padding: 2rem;

    .section-container {
        color: white;
    
        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            margin-bottom: var(--medium);
            .tag {
                cursor: pointer;
                padding: 1rem;
                text-align: center;
                border: 2px solid white;
                border-radius: 5px;
                font-size: var(--small);
            }
        }

        .actions {
            margin: 2rem 0;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
