@import "../../_base.scss";

nav {
    .main {
        .image {
            svg {
                position: absolute;
                bottom: 15%;
                right: 10%;
                width: 65%;
            }
        }
    }

    .text_part {
        color: white;
        .hookup {
            & > div {
                padding-left: 0.3rem;
            }
            .big {
                font-size: calc(var(--medium) * 4);
                margin-bottom: calc(var(--medium) * -1);
                padding-left: 0;
            }
        }
    }
    
    @media screen and (min-width: $mediaSmall) {
        .text_part {
            position: absolute;
            top: 35vh;
        }
    }
    
    @media screen and (min-width: $mediaLarge) {
        .text_part {
            top: 40vh;
            .hookup {
                .big  {
                    font-size: calc(var(--large) * 5);
                    margin-bottom:calc(var(--medium) * -1.5);
                }
            }
        }
    }
}

.page-content {
    background-color: $red;

    padding: 2rem;

    .section-container {
        color: white;
    
        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            margin-bottom: var(--medium);
            .tag {
                cursor: pointer;
                padding: 1rem;
                text-align: center;
                border: 2px solid white;
                border-radius: 5px;
                font-size: var(--small);
            }
        }

        .actions {
            margin: 2rem 0;
            padding: 0;
            .action {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                &.none {
                    display: none;
                }
            }
        }
    }
}
